<% if !user_signed_in?%>
	<div class="jumbotron">
		<h3>Review your favourite movie</h3>
			<p><%= link_to "Sign_Up to write a review", new_user_registration_path, class: "btn btn-primary btn-sm"  %></p>		
	</div>
<%end%>

<div class="row">
	<%@movies.each do |movie|%>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%=link_to (image_tag movie.image.url(:medium),class: 'image'), movie%>				
			</div>			
		</div>
	<% end -%>	
</div>
				
					